* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imags/鹦鹉.jpg");
}

.box {
    overflow: hidden;
    width: 420px;
    height: 200px;
    margin: 200px auto;
    background-color: rgba(0,0,0,.3);
    border-radius: 20px;
    text-align: center;
}

.box p {
    color: #2185d0;
    font-size: 24px;
    font-weight: 700;
    margin: 10px auto;

}

.box a {
    margin-top: 0;
}

.box input {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .3);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
}

.box button {
    margin-top: 10px;
    display: block;
    font-size: 1.14285714rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
}
